*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, rgba(255, 223, 0, 0.5), rgba(255, 255, 102, 0.5)), 
        url('../images/puff-img.png');
    /* background: url('../images/puff-img.png'); */
    background-color: #dfe3118f;
    height: 100dvh;
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
/* #e1e311 */
/* background-color: rgba(76, 224, 39, 0.466); */
