*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    /* background: linear-gradient(to right, rgba(158, 226, 30, 0.562), rgba(221, 241, 38, 0.322)), url('../images/puff-img.png'); */
    background: url('../images/puff-img.png');
    background-color: #dfe3118f;
    /* background-color: rgba(76, 224, 39, 0.466); */
    height: 100dvh;
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
/* #e1e311 */