body {
    height: 100dvh;
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}



/* #e1e311 */
/* background-color: rgba(76, 224, 39, 0.466); */
/* background: url('../images/about-bg.png'); */
/* background: linear-gradient(to right, rgba(255, 223, 0, 0.5), rgba(255, 255, 102, 0.5)), url('../images/about-bg.png'); */
/* background-color: #dfe3118f; */