@import url(https://use.fontawesome.com/releases/v5.7.1/css/all.css);

.slideshow-container {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin: auto;
  height: auto;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 4vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dotPlacement {
  position: absolute;
  bottom: 10px;
  /* margin: 0 auto; */
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@media (max-width: 768px) {

  .prev,
  .next {
    margin: -50px 0px;
    font-size: 6vw;
  }
}

@media (max-width: 480px) {

  .prev,
  .next {
    margin: -40px 0px;
    font-size: 8vw;
  }
}

.aboutUS-container {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: -3.5rem;
}

.aboutUS {
  background: rgba(255, 255, 255, 0.534);
  box-shadow: 2px 2px 8px 0.3px rgb(151, 148, 148);
  position: relative;
  width: 100%;
  min-height: 28vh;
  margin: 40px auto;
  padding: 2rem;
  box-sizing: border-box;
}

.aboutUS::before {
  width: 100%;
  height: 100px;
  content: "";
  background: url('../../images/about-us-top.png') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
}

.aboutUS::after {
  width: 100%;
  height: 100px;
  content: "";
  background: url('../../images/homePage/a-bg-shape-img.png') no-repeat center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover
}

.resFont {
  text-align: center;
  margin: auto;
  width: 90%;
  font-size: clamp(1.4rem, 4vw + 1rem, 2.8rem);
  font-weight: 600;
  word-wrap: break-word;
  padding: 40px;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .aboutUS {
    padding: 1.5rem;
    margin-top: 40px;
  }

  .resFont {
    font-size: clamp(1.2rem, 3vw + 1rem, 2.5rem);
    padding: 30px;
  }
}

@media (max-width: 480px) {

  .aboutUS {
    padding: 0;
    margin-top: 20px;
    height: 15vh;
    margin-bottom: 25px;
  }

  .aboutUS::after,
  .aboutUS::before {
    width: 100%;
    height: 25px;
  }

  .resFont {
    font-size: clamp(0.5rem, 2.5vw + 1rem, 1.5rem);
    padding: 20px 2.5px;
  }
}

.product-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product-slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .product-slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .product-slide {
    flex: 0 0 100%;
  }
}

.product-slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product-prev-slide,
.product-next-slide {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}



.productContainer {
  width: 100%;
  /* background-color: #312e2e; */
  /* background-image: url('../../images/homePage/b-bg-img.png'); */
  background: linear-gradient(to right, #fd974c, #ac070b),
    url('../../images/homePage/b-bg-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 20px 15px;
}

.product-grid-img {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: center;
  padding: 20px 15px 50px;
}

@media (max-width: 768px) {
  .product-grid-img {
    padding: 20px 10px 40px;
  }

  .productContainer {
    padding: 15px;
  }

  .howTitle {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .product-grid-img {
    padding: 15px 5px 30px;
  }

  .productContainer {
    padding: 10px;
  }

  .howTitle {
    font-size: 1.5rem;
  }
}

.connectUs {
  position: relative;
  width: 100%;
  padding-top: 3.5rem;
}

.connectUs::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 75%;
  background: url('../../images/homePage/petter-bg1.png') no-repeat left bottom;
  background-size: contain;
  z-index: 0;
}

.connectUs::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url('../../images/homePage/petter-bg2.png') no-repeat right bottom;
  background-size: contain;
  z-index: 0;
}

@media (max-width: 768px) {
  .connectUs {
    height: 50vh;
  }

  .connectUs::before {
    display: none;
  }

  .connectUs::after {
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .connectUs::before {
    background-position: left center;
  }

  .connectUs::after {
    background-position: right center;
  }
}

@media (max-width: 480px) {
  .connectUs {
    height: 25vh;
    justify-content: center;
    padding-bottom: 20px;
  }

  /* .connectUs::before, */
  .connectUs::after {
    display: none;
    background-size: contain;
    height: 60%;
  }
}

.social-buttons {
  position: relative;
  z-index: 10;
}

.social-img {
  width: 75px;
  height: 75px;
  margin: 0 0px;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

@media (max-width: 480px) {
  .social-img {
    width: 50px;
    height: 50px;
  }
}


.social-img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

ul {
  position: relative;
  z-index: 10;
}

.howContainer {
  width: 100%;
  height: auto;
  background-color: #eb5f0f;
  background-image: url('../../images/homePage/cart-bg.png');
  /* background: linear-gradient(
    to right, 
    #c00002, 
    #f1c516
    ),
    url('../../images/homePage/cart-bg.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 2rem;
  box-sizing: border-box;
}

.howTitle {
  color: #d32f2f;
  background-color: #ffffff;
  padding: 0rem 1.25rem;
  border-radius: 0 50px 25px 0;
  font-size: clamp(4.5rem, 5vw, 8rem);
  font-weight: bold;
  display: inline-block;
  margin-left: 0;
}

@media (max-width: 768px) {
  .howContainer {
    padding: 1rem;
  }

  .howTitle {
    margin-left: 0;
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  }
}

@media (max-width: 480px) {
  .howContainer {
    padding: 0.5rem;
  }

  .howTitle {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    font-size: clamp(1.2rem, 3vw, 3rem);
  }

  .left img {
    margin: 30px auto;
    max-width: 60%;
  }

  .right img {
    margin-top: 30px;
    max-width: 80%;
  }

  .right img:last-child {
    margin-top: -15px;
  }

  .right {
    align-items: center;
  }
}

.wobble-hor-bottom:hover {
  animation: wobble-hor-bottom .8s both
}

@keyframes wobble-hor-bottom {

  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%
  }

  15% {
    transform: translateX(-30px) rotate(-6deg)
  }

  30% {
    transform: translateX(15px) rotate(6deg)
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg)
  }

  60% {
    transform: translateX(9px) rotate(2.4deg)
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg)
  }
}

.more-button:hover {
  animation: vibrate-1 .3s linear infinite both
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

.text-pop-up-top {
  animation: bounce-in-top 1.1s both
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateY(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateY(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out
  }
}

.tracking-in-expand-fwd-top {
  animation: tracking-in-expand-fwd-top .8s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

.scale-in-bl {
  animation: scale-in-bl .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes scale-in-bl {
  0% {
    transform: scale(0);
    transform-origin: 0 100%;
    opacity: 1
  }

  100% {
    transform: scale(1);
    transform-origin: 0 100%;
    opacity: 1
  }
}

@media (max-width: 768px) {
  .product-img {
    padding: 15%;
  }
}

@media (max-width: 480px) {
  .product-img {
    padding: 10%;
  }
}

.aboutContainer {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: -3.5rem;
}

.about {
  background: rgba(255, 255, 255, 0.534);
  box-shadow: 2px 2px 8px 0.3px rgb(151, 148, 148);
  position: relative;
  width: 100%;
  min-height: 28vh;
  margin: 40px auto;
  padding: 2rem 4rem;
  box-sizing: border-box;
  min-height: 28vh;
}

.about::before {
  width: 100%;
  height: 100px;
  content: "";
  background: url('../../images/about-us-top.png') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
}

.about::after {
  width: 100%;
  height: 100px;
  content: "";
  background: url('../../images/homePage/a-bg-shape-img.png') no-repeat center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover
}

.aboutFont {
  text-align: justify;
  margin: auto;
  width: 80%;
  font-size: clamp(1.4rem, 4vw + 1rem, 2.8rem);
  font-weight: 600;
  word-wrap: break-word;
  padding: 10px 30px;
  z-index: 1;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .about {
    padding: 1.5rem;
    margin-top: 40px;
  }

  .aboutFont {
    font-size: clamp(1.2rem, 3vw + 1rem, 2.5rem);
    padding: 30px;
    margin-top: 25px;
  }
}

@media (max-width: 480px) {
  .aboutContainer {
    margin-top: 5rem;
    margin-bottom: 0rem;
  }

  .about {
    padding: 1rem;
    margin-top: 20px;
    min-height: 20vh;
    margin-bottom: 20px;
  }

  .about::after,
  .about::before {
    height: 50px;
    /* Adjusted for mobile screens */
  }

  .aboutFont {
    font-size: clamp(0.8rem, 1.5vw + 1rem, 1.5rem);
    /* Smaller text for mobile */
    padding: 0.5rem 1rem;
    /* Adjust padding */
  }
}